* {
    box-sizing: border-box;
}
h1, body {
    margin: 0;
}

.block {
    margin-bottom: 40px;
}
#block_1 {
    background-color: #1F0404;
}
#block_2 {
    background-color: #D9D9D9;
}
.block {
    width: 60%;
}

html {
    font-size: 24px;
}



#block_1 {
    font-size: 48px;
    margin-top: 139px;
    padding-top: 138px;
    padding-bottom: 138px;
}

.block {
    margin-left: auto;
    margin-right: auto;
}


.container {
    text-align: center;
}

.letter_1 {
    color: rgba(113, 170, 115, 0.70);
}

.letter_2 {
    color: rgba(163, 72, 72, 0.60);
}

.letter_3 {
color: #475587;
}

.letter_4 {
    color: #4B5E8D;
}

.letter_5 {
    color: rgba(178, 159, 109, 0.50);
}

.letter1_word2 {
    color: rgba(170, 144, 113, 0.40);
}

.letter2_word2 {
    color: rgba(112, 72, 163, 0.50);
}

.letter3_word2 {
    color: #874775;
}

.letter4_word2 {
    color: #8D4B63;
}

.letter5_word2 {
    color: rgba(109, 178, 162, 0.60);
}

#bg_block_2 {
    background-color: #D9D9D9;
    padding-left: 104px;
    padding-right: 75px;
    padding-top: 47px;
    padding-bottom: 47px;
    text-align: justify;
    text-decoration: column;
    text-shadow:  7px 7px 1px rgba(41, 36, 9, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #4F4F4F;
}

#block_1 {
    letter-spacing: 69px;
}

.container {
    font-family: my_roboto, "Roboto Thin";
}